body {
    font:   Helvetica ;
    background-color: #cafafa;
}

.dotline {
    border-style: none;
    border-color: #D3DEDC;
    border-top-style: dotted;
    border-width: 7px;
    width: 3%;
}

.dotline1 {
    border-style: none;
    border-color: #66BFBF;
    border-top-style: dotted;
    border-width: 7px;
    width: 3%;
}

h1 {
    color: black;
    font-size: 50px;
}

.Articles {
    padding-left: 30%;
    font-size: large;
}

.Heading {
    background-color: #66BFBF;
}

img {
    width: 100%;
    height: auto;
}

.space {
    width: 320px;
    padding-left: 15%;
}

.bookrecommendations {
    padding-left: 60%;
    font-size: large;
    width: 400px;
}

.equation {
    width: 320px;
    padding-left: 55%;
    padding-top: 5%;
}

.feedback {
    background-color: #66BFBF;
}

.feedbacklabel {
    padding-left: 10%;
}
